/* color */
:root {
  --main-color: hsl(212, 79%, 63%);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* header */
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.8), rgba(233, 235, 241, 0.7)), url(img/pic7.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav img {
  width: 110px;
}

nav {
  display: flex;
  padding: 1% 6%;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  flex: 1;
  text-align: right;
}

.nav-link ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-link ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
.nav-link ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--main-color);
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-link ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 60px;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 15px;
}
.btn-first {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 12px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.btn-first:hover {
  border: 1px solid var(--main-color);
  background: var(--main-color);
  transition: 1s;
}
nav .fa {
  display: none;
}

@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }
  .text-box p {
    font-size: 9px;
  }
  .nav-link ul li {
    display: block;
  }
  .nav-link {
    position: absolute;
    background: var(--main-color);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-link ul {
    padding: 30px;
  }
}

/* main */
.main {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.main h1 {
  font-size: 36px;
  font-weight: 600;
}
.main p {
  color: rgb(109, 101, 101);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.main-col {
  flex-basis: 31%;
  background: rgb(180, 245, 253);
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.main-col:hover {
  box-shadow: 0 0 20px 0px rgb(70, 176, 190);
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}
/* product */

.product h1 {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}

.product p {
  color: rgb(109, 101, 101);
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

.product {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.product-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.product-col img {
  width: 100%;
  height: 500px;
  display: block;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.layer:hover {
  background: rgba(168, 243, 255, 0.7);
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.layer:hover h3 {
  bottom: 50%;
  opacity: 1;
}

/* testimoni */

.testimoni {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}
.testimoni h1 {
  font-size: 36px;
  font-weight: 600;
}
.testimoni p {
  color: rgb(109, 101, 101);
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 20px;
}

.testimoni-col {
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #b6e6fc;
  padding: 25px;
  cursor: pointer;
  display: flex;
}
.testimoni-col img {
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}
.testimoni-col p {
  padding: 0;
  font-size: 12px;
}
.testimoni-col h3 {
  margin-top: 15px;
  text-align: left;
  font-size: 12px;
}
.testimoni-col .fa {
  color: var(--main-color);
}
@media (max-width: 700px) {
  .testimoni-col img {
    margin-left: 0px;
    margin-right: 15px;
  }
}

.contact {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(3, 79, 102, 0.8), rgba(233, 235, 241, 0.7)), url(img/pic12.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.contact h1 {
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}

@media (max-width: 700px) {
  .contact h1 {
    font-size: 24px;
  }
}

/* footer */

.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  background-color: var(--main-color);
}

.footer h4 {
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}

.footer p {
  color: #fff;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 10px;
}

.icons .fa {
  color: #fff;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}
